<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>ETH Speakeasy</title>
    <meta content="ETH Speakeasy" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/vibez.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->
    <script type="text/javascript">
      ! function(o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
      }(window, document);
    </script>
    <link href="https://uploads-ssl.webflow.com/5aa8e2c8bf75e2e9d917baa1/5aa8e66a086ff3650f008d15_favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
    <script>
      window['_fs_debug'] = false;
      window['_fs_host'] = 'fullstory.com';
      window['_fs_org'] = 'B1MN3';
      window['_fs_namespace'] = 'FS';
      (function(m, n, e, t, l, o, g, y) {
        if (e in m) {
          if (m.console && m.console.log) {
            m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');
          }
          return;
        }
        g = m[e] = function(a, b) {
          g.q ? g.q.push([a, b]) : g._api(a, b);
        };
        g.q = [];
        o = n.createElement(t);
        o.async = 1;
        o.src = 'https://' + _fs_host + '/s/fs.js';
        y = n.getElementsByTagName(t)[0];
        y.parentNode.insertBefore(o, y);
        g.identify = function(i, v) {
          g(l, {
            uid: i
          });
          if (v) g(l, v)
        };
        g.setUserVars = function(v) {
          g(l, v)
        };
        y = "rec";
        g.shutdown = function(i, v) {
          g(y, !1)
        };
        g.restart = function(i, v) {
          g(y, !0)
        };
        g.identifyAccount = function(i, v) {
          o = 'account';
          v = v || {};
          v.acctId = i;
          g(o, v)
        };
        g.clearUserCookie = function() {};
      })(window, document, window['_fs_namespace'], 'script', 'user');
    </script>

    <script src="/js/embed.js" type="text/javascript"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        window.waitlisted.start({
          domain: "crypto-squad.app.waitlisted.co"
        })
      });
    </script>

    <style>
      td {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 10px;
        border-bottom: 1px solid #E6EDF3;
        text-align: left;
        padding: 15px;
      }

      th {
        text-align: left;
        padding: 15px;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 1000;
        border-bottom: 1px solid #E6EDF3;
        color: #6E6984;
      }

      tr {}

      table {
        border-collapse: collapse;
        width: 100%;
      }
    </style>
  <link type="text/css" rel="stylesheet" href="/css/v2.css">
</head>
  <body class="body-3">
    <div class="popper" style="display:none;">
      <div class="popperz"><img src="/images/5bc6ce4d71ddd3f00e226491_low.svg" alt="">
        <div class="lowlow">Not quite there yet!</div>
        <div class="text-block-7">Looks like you don't have 500 ETH in your wallet! Would you like us to keep you updated about future releases ?</div>
        <div class="brrr w-embed">
          <form action="https://buttondown.email/api/emails/embed-subscribe/cryptosquad" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/cryptosquad', 'popupwindow')" class="embeddable-buttondown-form brrr">
            <label for="bd-email" style="color:white; padding-bottom:10px;">Enter your email</label>
            <input name="email" id="bd-email" style="width:100%; height:45px;" type="email">
            <input value="1" name="embed" type="hidden">
            <br>
            <input class="goldbutt" style="background-color:#C59C31; border-style:none; height:45px; width:100%; margin-top:5px;" value="Subscribe" type="submit">

          </form>
        </div>
      </div>
    </div>
    <div>
      <div class="w-container">
        <div class="flex"><img src="/images/5bc5614f514198cc97dac32e_logo.svg" alt="">
          <div class="subhedd">Anonymous chat room for the crypto wealthy</div><a href="#" class="goldbutt goldi w-button">Login with Metamask</a><img src="/images/5bc5614f7a5af03cf7cbbe46_lady.png" srcset="https://uploads-ssl.webflow.com/5aa8e2c8bf75e2e9d917baa1/5bc5614f7a5af03cf7cbbe46_lady-p-500.png 500w, https://uploads-ssl.webflow.com/5aa8e2c8bf75e2e9d917baa1/5bc5614f7a5af03cf7cbbe46_lady.png 576w" sizes="(max-width: 479px) 90vw, 288px" alt="" width="288"></div>
      </div>
    </div>
    <div class="black">
      <div class="w-container">
        <div class="flex">
          <div class="hedd">What is this ?</div>
          <div class="subhedd">It’s an anonymous chat room for people who own atleast 500 ETH</div>
          <div class="columns w-row">
            <div class="w-col w-col-4">
              <div class="speakdiv"><img src="/images/5bc5614f62d1408016061787_mask.svg" alt="" height="125">
                <div class="textual">Login with Metamask</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="speakdiv"><img src="/images/5bc5614f36f9e47b0c3c76d5_min.svg" alt="" height="125">
                <div class="textual">We verify that you have atleast 500 ETH in your wallet</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="speakdiv"><img src="/images/5bc5614e514198e298dac32d_chat.svg" alt="" height="125">
                <div class="textual">Enter the chat room!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="w-container">
        <div class="flex">
          <div class="hedd"><strong class="hedd">Why does this exist ?</strong></div>
          <div class="subhedd">We built it for fun.</div>
          <div class="columns w-row">
            <div class="w-col w-col-4">
              <div class="speakdiv"><img src="/images/5bc5615136f9e4709c3c76d6_verified.svg" alt="" height="125">
                <div class="textual"><span class="texthead">Verifiably Rich<br></span>The Etheruem blockchain enables us to verify wealth</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="speakdiv"><img src="/images/5bc5614fe337d61a25a38155_underover.svg" alt="" height="125">
                <div class="textual"><span class="texthead">Anonymous<br></span>Share opinions without having to reveal your identity</div>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="speakdiv"><img src="/images/5bc5614f99e103b497891282_love.svg" alt="" height="125">
                <div class="textual"><span class="texthead">love of chain<br></span>We’re exploring applications possible only with blockchain </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="black">
      <div class="w-container">
        <div class="flex">
          <div class="hedd"><strong class="hedd">Who built this ?</strong></div>
          <div class="subhedd">built by crypto squad</div><a href="http://cryptosquad.io/" class="w-inline-block"><img src="/images/5bc5614f47aadec15c60a7cf_squad.svg" alt="" class="squaw"></a>
          <div class="textual">We help crypto enthusiasts create investment pools for friends and family.<br>holla - <a href="http://spectrum.chat/cryptosquad" class="link">spectrum.chat/cryptosquad</a></div>
        </div>
      </div>
    </div>
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="/js/{{ CURRENT_APP_VERSION }}.js" type="text/javascript"></script>
    <script src="/js/webflow.js" type="text/javascript"></script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  

<div data-remodal-id="waitlisted-modal" class="wlmodal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div id="waitlistedEmbed">
  </div>
</div>
</body></html>